*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img{
    width: 100%;
}

/* common style  */
.container{
    max-width: 1200px;
    margin: 0 auto;
}

/* content style  */
.nav{
    padding-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #000000;

}
.icon{
    display: flex;
    align-items: center;
    gap: 15px;
}
.icon img{
    width: 50px;
    height: 50px;
}
.icon h1{
    font-size: 2.2rem;
    font-weight: 800;
}
#travel{
    color: #FF5400;
}
.nav-item-icon{
    display: none;
}

.nav-item ul{
    display: flex;
    gap: 40px;
}
.nav-item li{
    list-style: none;
}
.nav-item a{
    text-decoration: none;
    font-size: 1.1rem;
    font-weight: 500;
    color: #424247;
}
.nav-item .home{
    color: #FF5400;
    font-weight: 700;
}



/* Hero  */
.hero{
    border-radius: 16px;
    margin-top: 48px;

    background-image: 
    linear-gradient(180.00deg, 
    rgba(19, 19, 24, 0.8) 0%,
    rgba(19, 19, 24, 0) 100%), 
    url(../assets/Group\ 13\ \(1\)\ \(1\).png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    color: #ffffff;
    /* text-align: center; */

    display: flex;
    justify-content: center;
    align-items: center;
}
.hero-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;   
}
.hero h1, .hero p{
    max-width: 670px;
    text-align: center;
}
.hero h1{
    font-size: 4rem;
    font-weight: 800;
    padding-top: 100px;
}
.hero p{
    font-size: 1rem;
    font-weight: 500;
    padding-top: 24px;
}
.booking-box{
    max-width: 800px;
    margin-top: 48px;
    margin-bottom: 100px;

    border-radius: 8px;
    padding: 16px 16px;

    display: flex;
    gap: 24px;
    background: rgba(255, 255, 255, 0.3);
}

.booking-box form{
    display: flex;
    gap: 24px;
}
.card{
    width: 174px;

    border: none;
    border-radius: 8px;
    padding: 16px 16px;

    background-color: #ffffff;
    color: rgba(19, 19, 24, 0.5);
}
#main-btn{
    border: none;
    padding: 16px 30px;

    background-color: #FF5400;
    color: #ffffff;
    font-weight: 700;
}





/* responsive  */

@media screen and (max-width: 576px) {
    .nav-item{
        display: none;
    }
    .nav-item-icon{
        display: inline;
    }
    .icon h1{
    font-size: 1.3rem;
    font-weight: 800;
    }
    .nav{
        margin-top: 0;
        padding: 20px;
    }
    .hero{
        max-width: 335px;
        margin-top: 10px;
    }
    .hero h1{
        font-size: 1.8rem;
        padding-top: 50px;
    }
    .hero p{
        padding-top: 15px;
    }
    .booking-box{
        margin-top: 30px;
        max-width: 287px;
        margin-bottom: 30px;
    }
    .card{
        width: 255px;
    }
    .booking-box, .booking-box form{
        flex-direction: column;
    }
}