*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img{
    width: 100%;
}

/* common style  */
.container{
    max-width: 1200px;
    margin: 0 auto;
}

/* content style  */
.nav{
    padding-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #000000;

}
.icon{
    display: flex;
    align-items: center;
    gap: 15px;
}
.icon img{
    width: 50px;
    height: 50px;
}
.icon h1{
    font-size: 2.2rem;
    font-weight: 800;
}
#travel{
    color: #FF5400;
}
.nav-item-icon{
    display: none;
}

.nav-item ul{
    display: flex;
    gap: 40px;
}
.nav-item li{
    list-style: none;
}
.nav-item a{
    text-decoration: none;
    font-size: 1.1rem;
    font-weight: 500;
    color: #424247;
}
.nav-item .home{
    color: #FF5400;
    font-weight: 700;
}



/* Hero  */
.hero{
    border-radius: 16px;
    margin-top: 48px;

    background-image: 
    linear-gradient(180.00deg, 
    rgba(19, 19, 24, 0.8) 0%,
    rgba(19, 19, 24, 0) 100%), 
    url(../assets/sea-hill.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    color: #ffffff;
    /* text-align: center; */

    display: flex;
    justify-content: center;
    align-items: center;
}
.hero-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;   
}
.hero h1, .hero p{
    max-width: 670px;
    text-align: center;
}
.hero h1{
    font-size: 4rem;
    font-weight: 800;
    padding-top: 100px;
}
.hero p{
    font-size: 1rem;
    font-weight: 500;
    padding-top: 24px;
}
.booking-box{
    max-width: 800px;
    margin-top: 48px;
    margin-bottom: 100px;

    border-radius: 8px;
    padding: 16px 16px;

    display: flex;
    gap: 24px;
    background: rgba(255, 255, 255, 0.3);
}

.booking-box form{
    display: flex;
    gap: 24px;
}
.card{
    width: 174px;

    border: none;
    border-radius: 8px;
    padding: 16px 16px;

    background-color: #ffffff;
    color: rgba(19, 19, 24, 0.5);
}
#main-btn{
    border: none;
    padding: 16px 30px;

    background-color: #FF5400;
    color: #ffffff;
    font-weight: 700;
}

/* Our Popular Tour section  */
.popular-tour{
    display: flex;
    gap: 100px;
    margin-top: 100px;
}
.popular-tour .text{
    max-width: 570px;
    padding: 10px;
}
.popular-tour .text h2{
    font-size: 2.5rem;
    font-weight: 800;
    color: #131318;
}
.popular-tour .text p,
.popular-tour .text ul{
    margin-top: 24px;

    font-size: 1rem;
    font-weight: 500;
    color: rgba(19, 19, 24, 0.7);
}
.text ul{
    padding-left: 20px;
}
.popular-tour .text button{
    margin-top: 30px;

    border-radius: 8px;
    font-size: 1.25rem;
    font-weight: 800;
}
.popular-tour .img-box{
    margin-right: 0;
    max-width: 560px;
}
.popular-tour img{
    width: 100%;
}

/* Choose Your Destination */
.destination .text-top{
    max-width: 650px;
    margin: auto;
    padding: 20px;
    text-align: center;
}
.destination h2{
    font-size: 2.5rem;
    margin-top: 80px;
}
.destination p{
    margin-top: 24px;
    font-size: 1rem;
    font-weight: 500;
    color: rgba(19, 19, 24, 0.7);
}
.img-grid{
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    /* grid-template-rows: repeat(3, 1fr); */
    gap: 24px;
}
.img-grid img{
    width: 100%;
}
.img-grid div{
    position: relative;
}
.img-grid div strong{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    font-size: 1.7rem;
    font-weight: 800;
    color: #ffffff;
}
.img-grid .maldives,
.img-grid .indonesia{
    grid-column: span 6;
}
.img-grid .srilanka{
    grid-column: span 4;
}
.img-grid .namerica{
    grid-column: span 5;
}
.img-grid .kashmir{
    grid-column: span 3;
}
.img-grid .bd{
    grid-column: span 5;
}
.img-grid .bandorban{
    grid-column: span 7;
}





/* responsive  */

@media screen and (max-width: 576px) {
    .nav-item{
        display: none;
    }
    .nav-item-icon{
        display: inline;
    }
    .icon h1{
    font-size: 1.3rem;
    font-weight: 800;
    }
    .nav{
        margin-top: 0;
        padding: 20px;
    }
    .hero{
        max-width: 350px;
        margin-top: 10px;
        padding: 10px;
    }
    .hero h1{
        font-size: 1.8rem;
        padding-top: 50px;
    }
    .hero p{
        padding-top: 15px;
    }
    .booking-box{
        margin-top: 30px;
        max-width: 287px;
        margin-bottom: 30px;
    }
    .card{
        width: 255px;
    }
    .booking-box, .booking-box form{
        flex-direction: column;
    }
    /* popular tour */
    .popular-tour{
        max-width: 350px;

        flex-direction: column;
        gap: 30px;
        margin-top: 30px;
    }
    .popular-tour .text{
        display: flex;
        flex-direction: column;
        gap: 16px;
    }
    .popular-tour .text h2{
        font-size: 1.25rem;
    }
    /* Destination  */
    .destination{
        max-width: 360px;
        margin: auto;
    }
    .text-top h2{
        font-size: 1.5rem;
        margin-top: 30px;
    }
    .text-top p{
        margin-top: 10px;
    }
    .img-grid{
        margin-top: 10px;
        grid-template-columns: repeat(1, 1fr);
    }
    .destination div img{
        width: 340px;
        height: 200px;
    }
    .destination div strong{
        font-size: 1.5rem;
    }
}